.App {
  text-align: center;
  background-color:white;
  
  
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
}


.search-bar {
  display: flex;
  gap: 1rem;
}

@media (max-width: 600px) {
  .search-bar {
    flex-direction: column;
  }
}

.moviecard {
  border: 1px solid black;
  flex: 0 0 calc(100% / 6 - 1rem);
  max-width: calc(100% / 6 - 1rem);
  box-sizing: border-box;
  padding: 0.5rem;
  text-align: center;
}

.moviecard img {
  width: 100%;
}

@media (max-width: 1200px) {
  .moviecard {
    flex: 0 0 calc(25% - 1rem); /* 4 per row */
    max-width: calc(25% - 1rem);
  }
}

@media (max-width: 900px) {
  .moviecard {
    flex: 0 0 calc(33.33% - 1rem); /* 3 per row */
    max-width: calc(33.33% - 1rem);
  }
}

@media (max-width: 600px) {
  .moviecard {
    flex: 0 0 calc(50% - 1rem); 
    max-width: calc(50% - 1rem);
  }
}

@media (max-width: 400px) {
  .moviecard {
    flex: 0 0 100%; 
    max-width: 100%;
  }
}


.sidebar{
  background-color: black;
}


 
.movieslist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
    
    
    
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; }


.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  max-width: 700px;
  width: 90%;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1000;
}


.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}


.modal-backdrop {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}


.footer{
  background-color: black;
 height: 100px
}

.copyright{
  color: white;
  
  
}
